# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/bileto/node_modules
/bileto/client/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/bileto/build
/bileto/client/build

# misc
.DS_Store
.idea
.env
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
